<%= content_for :title, "Sign up" %>

<div class="mx-auto mt-28 px-5 md:w-2/3 w-full grid gap-6">
  <h1 class="hotwire-native:hidden font-bold text-4xl">Sign up</h1>

  <%= form_with model: @user, url: registration_path, class: "form grid gap-6" do |form| %>
    <% if @user.errors.any? %>
      <div class="alert-destructive">
        <h2>
          Unable to create account
        </h2>
        <section>
          <p><%= pluralize(@user.errors.count, "error") %> prohibited this account from being created:</p>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </section>
      </div>
    <% end %>

    <div class="grid gap-2">
      <%= form.label :email_address, "Email" %>
      <%= form.email_field :email_address, required: true, autocomplete: "username" %>
    </div>

    <div class="grid gap-2">
      <%= form.label :password, "Password" %>
      <%= form.password_field :password, required: true, autocomplete: "new-password" %>
    </div>

    <div class="grid gap-2">
      <%= form.label :password_confirmation, "Confirm Password" %>
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
    </div>

    <%= form.submit "Sign up", class: "btn w-full" %>
  <% end %>

  <div class="relative">
    <div class="absolute inset-0 flex items-center">
      <span class="w-full border-t"></span>
    </div>
    <div class="relative flex justify-center text-xs uppercase">
      <span class="bg-background px-2 text-muted-foreground">Or continue with</span>
    </div>
  </div>

  <%= render "shared/sign_in_with_apple" %>
  <%= render "shared/sign_in_with_google" %>

  <p class="text-center text-sm text-muted-foreground">
    Already have an account?
    <%= link_to "Sign in", new_session_path, class: "underline-offset-4 hover:underline" %>
  </p>
</div>
